.loginAndRegisterContent {
    padding: 10px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.panel{
    margin-bottom: 0px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: lightsteelblue;
    border-color: #ddd;
}