body {
    /*color: #e7e7e7;*/
    background: #003A1D;
    /*background: lightsteelblue;*/
    padding-top: 70px;
}

.container {
    border-radius: 4px;
    background-color: #1A1A18;
}

.content {
    margin-top: 5px;
    margin-bottom: 40px;
}

.navbar-default {
    background-color: #1A1A18;
    border-color: lightsteelblue;
}

.navbar-default .navbar-nav>li>a {
    color: #e7e7e7;
}

.navbar-default .navbar-brand {
    font-size: 26px;
    /*font-weight: bold;*/
    color: lightsteelblue;
}

.navbar-brand {
    padding: 3px 15px;
    line-height: 20px;
}

.navbar-brand img{
    width: 45px;
    height: 45px;
}

.nav .nav-divider {
    height: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: lightsteelblue;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0.1rem;
    background-color: #1A1A18;
    color: #e7e7e7;
}


/*categories*/
#contentLeft{
    /*margin:10px;*/
    padding: 8px;
    height:100%;
    /*width:80%;*/
    background-color: #1A1A18;
}

#contentLeft .table{
    background-color: white;
    border: 3px solid white;
    margin: 0px;
    /*width: 100%;*/
    /*border-collapse: separate;*/
    /*color: #000000;*/
    /*font-size:14px;*/
}

#contentLeft thead{
    background-color: #0B676D;
    text-transform: uppercase;
    height: 28px;
    color:white;
}

#contentLeft tbody tr{
    height: 28px;
}

#contentLeft tbody td:nth-child(odd){
    background-color: #e6e6e6;
}

#contentLeft tbody td{
    padding-left:8px;
}

#contentLeft tbody td a{
    font-style: italic;
    color:#1a1a18 !important;
    text-decoration: none !important;
}

#contentLeft tbody td a:link{
    color: #1a1a18;
}

#contentLeft tbody td a:hover{
    color: #0B676D !important;
    font-weight: bold;
    text-decoration: underline;
}

#contentLeft tbody td a:active{
    color: #000000;
}

#contentLeft tbody td a:visited{
    color: #00476B;
}

#contentRight {
    font-size: 13px;
    padding: 8px;
    height:100%;
    background-color: #1A1A18;
}

#noBooksInfo{
    display: inherit;
    margin: 10px;
    font-size: 14px;
}

#contentRight .input-group {
    background-color: white;
    padding: 8px;
}
/* Table of books */
#tableOfBooks {
    background-color: white;
}

#tableOfBooks table{
    padding: 8px;
    width: 100%;
    border-collapse: separate;
    text-align: left;
}

#tableOfBooks thead{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #66AEB3;
}

#tableOfBooks thead th{
    padding-left:10px;
}

#tableOfBooks tbody tr{

}

#tableOfBooks tbody td{
    padding-left:10px;
    padding-right:10px;
}

#tableOfBooks tbody td a{
    margin-left: auto;
    margin-right: auto;
}


#tableOfBooks tbody td p{
    color:#16272D;
}